.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5px;
    min-width: 125px;
    max-width: 125px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/pokebola.png) ;
    background-size: 85px 110px;
    background-repeat: no-repeat;
    background-position: top;
}

.stats {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card:hover .info {
    display: none;
}

.card:hover .stats {
    display: flex;
    margin-top: 10px;
    text-align: left;
}