html {
    cursor: url(../assets/cursor32.png) 16 16, auto;
}

#favoritePopUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #727272;
    color: #ffcd19;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    cursor: url(../assets/pointer32.png) 16 10, auto;
}

#homePopUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #727272;
    color: #ffcd19;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    cursor: url(../assets/pointer32.png) 16 10, auto;
}

#favoritePopUp .material-icons-round {
    font-size: 50px;
}

#homePopUp .material-icons-round {
    font-size: 50px;
}

#pokemonContainerFav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

#favForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#favMenu {
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #807e76;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.favInput {
    margin-left: 5px;
    border-radius: 5px;
    border: 0px solid;
    padding: 5px;
}

.favButton {
    background-color: #ffcd19;
    border-radius: 5px;
    border: 0px solid;
    padding: 10px;
    color: #282828;
    font-weight: 600;
    cursor: url(../assets/pointer32.png) 16 10, auto;
}

.smallFavButton {
    background-color: #ffcd19;
    border-radius: 5px;
    border: 0px solid;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: #282828;
    font-weight: 600;
    cursor: url(../assets/pointer32.png) 16 10, auto;
}

#listFav {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    #favMenu {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    #favMenu div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #favMenu div .favInput {
        width: 20%;
        margin-right: 5px;
    }

    #homePopUp {
        position: fixed;
        margin-bottom: 30px;
        margin-right: 15px;
    }

}