body {
    background-color: #3a3a3a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f4f4f4;
}

#header {
    background-color: #c95252;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
